<form action="http://localhost:3000/charges" method='POST'>
	<%= label_tag 'name', 'Name: ' %><%= text_field_tag :name %>
     <%= label_tag 'email', 'Email: ' %><%= text_field_tag :email %>
     <%= label_tag 'message', 'Message: ' %><%= text_area_tag :message %>
     <%= submit_tag 'Send' %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>
</form>


      <script src="https://checkout.stripe.com/v2/checkout.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

      <script>
        $('#customButton').click(function(){
          var token = function(res){
            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
            $('form').append($input).submit();
          };

          StripeCheckout.open({
            key:         'pk_test_2yvhQN0YU3zvKbzifhyDwNnl',
            address:     true,
            amount:      10000,
            currency:    'usd',
            name:        'asdad',
            description: 'A bag of Pistachios',
            panelLabel:  'Checkout',
            token:       token
          });

          return false;
        });
      </script>
      <center><a href="#" id="customButton" class='pay_button'>Purchase Online</a></center>