<form action='http://localhost:3000/charges' method='POST'>
	<%= label_tag 'name', 'Name: ' %><%= text_field_tag :name %>
     <%= label_tag 'email', 'Email: ' %><%= text_field_tag :email %>
     <%= label_tag 'message', 'Message: ' %><%= text_area_tag :message %>
     <%= submit_tag 'Send' %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_test_2yvhQN0YU3zvKbzifhyDwNnl"
          data-description="A month's subscription"
          data-amount="500"></script>
</form>